@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 05 Page";
}



<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5 text-center text-white">
        <h1>Jay Lowry</h1><br /><br />
        <p>I hope to finally solidify my web development skills so that I actually remember what I'm doing and what I need to do.</p><!--What I hope to gain from this class-->
    </div>
</header>
<br />
<div id="photo">
    <img src="img/20220604_201850.jpg" /> <!--Picture of me-->
</div>
<br />
<br />

<div class="text-center justify-content-center">
    <p>Jobs I would want to get after I graduate</p>
    <ol>
        <!--List of Jobs-->
        <li>Almost anything with 'architect' in the name (IT architect, systems architect, etc.)</li>
        <li>Project Manager</li>
        <li>Software Engineer</li>
    </ol>


</div>


