<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" /><!--Inclusion of CSS and related-->
    <link href="css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="img/wave.png" /> <!--Icon for webpage-->
    <title>@ViewData["Title"]</title>
</head>
<body>
    <nav>
        <a asp-contoller="NEEEEEw" , asp-action="Index">Home</a>
        <a asp-contoller="NEEEEEw" , asp-action="GradeCalculator">Grade Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>

    <!--Inclusion of JS and related-->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <p>Wave icons created by Freepik - Flaticon</p> <!--Attribution-->
</body>
</html>
